# We are going to rewrite URL for clarity purposes
# Apache reads rules line by line, that is why the first rules are the most restrictive.
# To use this feature, make sure rewrite_module is loaded in Apache (httpd.conf)
<IfModule mod_rewrite.c>
	Options +FollowSymLinks -MultiViews

	#Enable rewriting module
	RewriteEngine On
	
	# NC: No Case	>> Not case-sensitive
	# L: Last		>> Last rule to execute when matched > Avoid infinite loops
	# QSA: Qsappend	>> Also Transfer potential URL parameters (?param=blabla...)
	
	RewriteRule	^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)/?$	index.php?controller=$1&action=$2&parameters=$3	[L,QSA,NC]

	RewriteRule	^([a-zA-Z]+)/([a-zA-Z]+)/?$	index.php?controller=$1&action=$2	[L,QSA,NC]

	RewriteRule	^([a-zA-Z]+)/?$	index.php?controller=$1	[L,QSA,NC]

</IfModule>